#fractal_pane {
	background-color: inherit;
	display: block;
	width: 98vw;
	height: 92vh;
	margin: auto;
}

@media only screen and (max-width: 750px) {
  #fractal_pane {
      width: 90vw;
	  height: 75vh;
  }
}
