#header {
	padding: 0.5%;
	background-color: #9D855D; /* khaki */
	/* color: #D5E3D1; */
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);

}

@media only screen and (max-width: 750px) {
  #header > #slider, #header > #dropdown {
      border: 3px solid green;
	  display: block;
	  margin: auto;
	  float: none;
  }

  #header > #slider {
	  margin-bottom: 3%;
  }
  
  #header {
	  text-align: center;
  }
}
